body{ 
    color:white;
    text-align:center;
    font-family:courier;
    vertical-align: middle;
} 
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 1fr;
    height:100vh;
    grid-gap: 10px;
    background-color: grey;
    /*padding: 10px;*/
}
.grid-container>div{
    text-align:center;
    vertical-align:middle;
    font-weight: 400;
    line-height: 110px;
}
/* colors: https://www.pinterest.com/pin/510103095296824903/ */
.item1 {
    grid-column: span 4;
    grid-row: 1;
    background-color: #f2f2f4;
} 
.item2 {
    grid-column: span 4;
    grid-row: 1;
    background-color: #c4cce1;
} 
.item3 {
    grid-column: span 4;
    grid-row: 1;
    background-color: #f2f2f4;
} 

.item4 {
    grid-column: span 10;
    grid-row: 2;
    background-color: #a2934c;
} 
.item5 {
    grid-column: span 2;
    grid-row: 2;
    background-color: #f1ce83;
} 


.item6 {
    grid-column: span 8;
    grid-row: 3;
    background-color: #878492;
} 
.item7 {
    grid-column: span 4;
    grid-row-start: 3;
    grid-row-end: span 2;
    background-color: #decfca;
} 
.item8 {
    grid-column: span 8;
    grid-row: 4;
    background-color: #ad9fa1;
} 

.item9 {
    grid-column: span 3;
    grid-row: 5;
    background-color: #f2f2f4;
} 
.item10 {
    grid-column: span 3;
    grid-row: 5;
    background-color: #c4cce1;
} 
.item11 {
    grid-column: span 3;
    grid-row: 5;
    background-color: #f2f2f4;
} 
.item12 {
    grid-column: span 3;
    grid-row: 5;
    background-color: #748eb3;
} 

.item13 {
    grid-column: span 12;
    grid-row: 6;
    background-color: #686744;
    padding:20px;
    line-height: 20px !important;
} 

/*
@media (max-width:600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 3fr) 1fr;
        grid-template-areas:
        "Small Small Small Small Med Med Med Med Small Small Small Small"
        "Header Header Header Header Header Header Header Header Header Header Img Img"
        "Main Main Main Main Main Main Main Main Sidebar Sidebar Sidebar Sidebar"
        "Quote Quote Quote Quote Quote Quote Quote Quote Sidebar Sidebar Sidebar Sidebar"
        "Small Small Small Med Med Med Small Small Small Lg Lg Lg"
        "Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer"
        ;
        height:100vh;
        /*gap: 10px;*/
        /*background-color: grey;
        /*padding: 10px;*/
    /*}
} */
