
div.box { 
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;
}
p {
    height: 75%;
    width: 75%;
    background-color: pink;
}

td.description { 
    min-width: 450px; 
    max-width: 650px; 
    text-align: left; 
    padding: 5px; 
    margin: 0px;
  }

.flowHidden{
    overflow:hidden;
}
.flowScroll{
    overflow:scroll;
}
.margins{
    margin:10%;  /*Top, right, bottom, left*/
    border-width:thin;
    padding:10%;
}
body {
    text-align: center;
    }
p{
      width: 300px; 
      padding: 50px; 
      border: 20px solid #0088dd;
    }
p.example {
      margin: 10px auto 10px auto;
      text-align: left;
    }